/* Home page */
.home {
  background: url("../img/hero-raven.jpg");
  overflow: hidden;
}

.home-image-content {
  position: absolute;
  color: white;
  font-size: 2.3rem;
  margin-top: 13%;
  margin-left: 15%;
}
