body{
  background-image: url("img/hero-raven.jpg");
  background-size:auto;
  background-position:top;
  background-color: gold;
  color: red




nav {
  background-color: black;
  overflow: hidden;
}

nav a {
   float: left;
   color: ;
   text-align: center;
   padding: 1.5em;
   text-decoration: none;
   font-size: 17px;
}

nav a:hover {
   background-color:grey;
}

nav a.active {
   background-color: grey;
}
