* {
  margin: 0;
  padding: 0;
}

/* Home page */
.home {
  background: url("../img/hero-raven.jpg");
  overflow: hidden;
}

.home-image-content {
  position: absolute;
  color: white;
  font-size: 2.3rem;
  margin-top: 13%;
  margin-left: 15%
}

/* About page */
.about h1,
.author h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1%;
}

.about img {
  position: absolute;
  margin-top: 4%;
  margin-left: 2%;
}

.about .content {
  float: right;
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 10%;
}

/* Author page */
.author .content {
  float: right;
  margin-top: 3%;
  margin-left: 28%;
  margin-right: 10%;
}

.author img {
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
}

/* Poem page */
.poem h1 {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 3%;
}

pre {
  text-align: center;
}
